
p {
    margin-top: 0;
    margin-bottom: 0;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: black;
    color: white;

    overflow-x: hidden;
}


/*
글로벌 스크롤 바 설정
*/
/*::-webkit-scrollbar {*/
/*    width: 12px;*/
/*    background-color: black;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(200, 200, 200, 0.6);*/
/*    border-radius: 5px;*/
/*    border-right: 2px solid black;*/
/*    border-left: 2px solid black;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: darkgray;*/
/*}*/
